{{ define "main" }}

<div class='suriya-blog-content'>

    <div id='write'  class=''>
        <header>
            <div class="page-header-icon undefined"><span class="icon">{{ .Params.emoji }}</span></div>
            <h1 class="page-title">{{ .Page.Title | lower }}</h1>
            <h2>{{ .Page.Description }}</h2>
        </header>
        {{ if .Params.date }}
        <p class="article-date">{{ .PublishDate.Format "January 2,2006" }}</p>
        {{ end }}
        <div class="blender" id="blender"></div>

        {{ .Content }}
        <h2>recent posts</h2>
        {{ partial "recents.html" (dict "everything" . "count" 10) }}
        <a href="/recents">More Recents...</a>
        {{ partial "footer.html" . }}
        {{ partial "scripts.html" . }}

        {{ end }}
