{{ define "main" }}
<div class="menu-toggle-container">
    <button class="menu-toggle" id="menu-toggle">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 6H20" stroke="black" stroke-width="2" stroke-linecap="round"/>
            <path d="M4 12H20" stroke="black" stroke-width="2" stroke-linecap="round"/>
            <path d="M4 18H20" stroke="black" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </button>
</div>

{{ partial "sidebar.html" . }}

<div class="main-content">
    <div id='write'  class='suriya-blog-content'>
        <header>
            <div class="page-header-icon undefined"><span class="icon">{{ .Params.emoji }}</span></div>
            <h1 class="page-title">{{ .Title }}</h1>
        </header>
        <div class="blender" id="blender"></div>
        {{ partial "header.html" . }}
        {{ .Content }}
        {{ partial "footer.html" . }}
        {{ partial "scripts.html" . }}
        {{ partial "toc.html" . }}
    </div>
</div>
{{ end }}