{{ define "main" }}
<main>

    <div class='suriya-blog-content'>

        <div id='write' class=''>
            <header>

                <div class="page-header-icon undefined"><span class="icon">{{ .Params.emoji }}</span></div>
                <h1 class="page-title">{{ .Title }}</h1>
            </header>
            <div class="blender" id="blender"></div>
            {{ partial "header.html" . }}
            {{ .Content }}
            <h2>Posts</h2>
            <ul class="page-list">
                <!-- Ranges through content/posts/*.md -->
                {{ $sortedPages := sort .Pages "PublishDate" "desc" }}
                {{ range $sortedPages }}
                {{ if .Title }}
                <li>
                    <a href="{{.Permalink}}"><p class="">
                    {{ if .Params.emoji }}
                    {{ .Params.emoji }} &nbsp;
                        &nbsp;&nbsp;&nbsp;{{.Title}}
                    {{ end }}
                    {{ if .Params.date }}
                        ,{{.PublishDate.Format "Jan 2,'06"}}&nbsp;
                    {{end}}
                        &nbsp;</p></a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
            {{ partial "footer.html" . }}
            {{ partial "scripts.html" . }}
</main>
{{ end }}