{{ define "main" }}
<main>

    <div class='suriya-blog-content'>

        <div id='write' class=''>
            <header>

                <div class="page-header-icon undefined"><span class="icon">{{ .Params.emoji }}</span></div>
                <h1 class="page-title">{{ .Title }}</h1>
            </header>
            <div class="blender" id="blender"></div>
            {{ partial "header.html" . }}
            {{ .Content }}
            <h2>Posts</h2>
                <!-- Ranges through content/posts/*.md -->
                {{ range .Pages }}

                {{ if .Title }}
                <h3>
                    <a href="{{.Permalink}}">
                    {{ if .Params.emoji }}
                    {{ .Params.emoji }} &nbsp;
                        &nbsp;&nbsp;&nbsp;{{.Title}}
                    {{ end }}
                    {{ if .Params.date }}
                        ,  {{.PublishDate.Format "Jan 2,'06"}}&nbsp;
                    {{end}}
                        &nbsp;</a>
                </h3>
                {{ if .Pages }}
                <ul class="page-list-sub">
                {{ range .Pages }}
                    <li><a href="{{.Permalink}}">
                        {{ if .Params.emoji }}
                        {{ .Params.emoji }} &nbsp;
                        &nbsp;&nbsp;&nbsp;{{.Title}}
                        {{ end }}
                        {{ if .Params.date }}
                        ,  {{.PublishDate.Format "Jan 2,'06"}}&nbsp;
                        {{end}}
                    </a></li>
                {{ end }}
                </ul>
                {{ end }}

                {{ end }}
                {{ end }}
            </ul>
        </div>
            {{ partial "footer.html" . }}
            {{ partial "scripts.html" . }}
</main>
{{ end }}