{{ define "main" }}

<div class='suriya-blog-content'>

    <div id='write'  class=''>
        <header>

            <div class="page-header-icon undefined"><span class="icon">{{ .Params.emoji }}</span></div>
            <h1 class="page-title">{{ .Title | lower }}</h1>
        </header>
        <div class="blender" id="blender"></div>
        {{ partial "header.html" . }}
        {{ partial "toc.html" .}}
        {{ partial "footer.html" . }}
        {{ partial "scripts.html" . }}

        {{ end }}
