
{{ $sortedPages := sort .everything.Site.Pages "PublishDate" "desc" }}
{{ $sortedPages := first .count $sortedPages }}

<div class="recent-posts-list">
{{ range $sortedPages }}
    {{ if .Title }}
    <div class="recent-post-item">
      <div class="recent-post-title">
        <a href="{{ .Permalink}}">{{ .Title | lower }}</a>
        <span class="recent-post-date">{{ .PublishDate.Format "Jan 2, 2006" }}</span>
      </div>
      {{ if .Description }}
      <p class="recent-post-description">{{ .Description }}</p>
      {{ end }}
    </div>
    {{ end }}
{{end}}
</div>