<nav class="sidebar" id="sidebar">
    <div class="sidebar-content">
        <ul class="sidebar-nav">
            <li class="sidebar-nav-item">
                <a href="/" class="sidebar-nav-link{{ if .IsHome }} active{{ end }}">Home</a>
            </li>
            <li class="sidebar-nav-item">
                <a href="/projects" class="sidebar-nav-link{{ if eq .Section "projects" }} active{{ end }}">Projects</a>
            </li>
            <li class="sidebar-nav-item">
                <a href="/notes" class="sidebar-nav-link{{ if eq .Section "notes" }} active{{ end }}">Notes</a>
            </li>
            <li class="sidebar-nav-item">
                <a href="/blog" class="sidebar-nav-link{{ if eq .Section "blog" }} active{{ end }}">Blog</a>
            </li>
        </ul>
    </div>
</nav>