{{ $m := dict }}
{{ $endKey := "aaaaaaaaa" }}

{{ range .Site.Pages }}
<p></p>

    {{ . }}
    {{ .Params }}

    {{ $title := .Params.title }}

    {{ with $title }}
    title : {{ $title }}
    {{ else }}
    notitle
    {{ end }}
<!--    Trim the trailing and preceding slashes in the link-->
    {{ $link := substr .RelPermalink 1 }}
    {{ $link := substr $link 0 -1 }}

    {{ with $title }}
    {{ with $link }}
        <p></p>
        {{ $sp := split $link "/"}}

        {{ $metadata := dict "title" $title }}

        {{ $m2 := dict $sp (dict $endKey $metadata)  }}
        <!--        ||    {{ $m2 }}-->

        {{ $m = merge $m $m2 }}
        {{ range $k, $v := $sp }}
        {{ end }}
        <!--        !! {{ $m }}-->

    {{ end }}
    {{ end }}

{{ end }}

<div id="tock">
{{ partial "parse_dict.html" (dict "dictionary" $m "prefix" "") }}
</div>
